.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition:
    color var(--transition-default),
    background-color var(--transition-default),
    border-color var(--transition-default);

  &::before {
    content: '';
    position: absolute;
    inset: -2px;
    z-index: 1;
    border: 1px solid #2727ff;
    transition: opacity 0.2s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }

  &:focus {
    outline: 0;

    &-visible {
      &::before {
        opacity: 1;
      }
    }
  }

  &:disabled {
    color: rgb(255 255 255 / 70%);
    cursor: not-allowed;

    &:focus-visible {
      &::before {
        opacity: 0;
      }
    }
  }
}

.default {
  color: #f1f1f1;
  background-color: #f76b15;

  &:hover,
  &:focus-visible {
    background-color: #FF801F;
  }

  &:disabled {
    background-color: #f76b15;
  }
}

.success {
  color: #f1f1f1;
  background-color: green;

  &:hover,
  &:focus-visible {
    background-color: #004f00;
  }

  &:disabled {
    background-color: green;
  }
}

.error {
  color: #f1f1f1;
  background-color: #e5484d;

  &:hover,
  &:focus-visible {
    background-color: #ec5d5e;
  }

  &:disabled {
    background-color: #e5484d;
  }
}

.text {
  color: var(--primary-color);
  background-color: transparent;

  &:hover,
  &:focus-visible {
    color: #fff;
    background-color: #f76b15;
  }

  &:disabled {
    color: var(--primary-color);
    background-color: transparent;
  }
}

.normal {
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.small {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.fullWidth {
  width: 100%;
}

.icon {
  padding: 5px;
  border-radius: 50%;
}