@import "app/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: var(--bg-block-color);
  border-bottom: 1px solid var(--primary-color);
  transition: background-color var(--transition-default);
}

.logo {
  font-weight: 500;
  color: #CA143a;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}

.list {
  @include clear-list;

  display: flex;
  margin-left: 20px;

  &Item a {
    padding: 16px;
  }
}