@import "app/styles/mixins";

.Navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-block-color);
  border-bottom: 1px solid var(--primary-color);
}

.List {
  @include clearList;

  display: flex;
  margin-left: auto;

  &Item {
    padding: 16px;
  }
}