@import "app/styles/mixins";

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: var(--bg-block-color);
  border-bottom: 1px solid var(--primary-color);
}

.Logo {
  color: #ca143a;
  font-weight: 500;
  letter-spacing: 2px;
}

.Navbar {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}

.List {
  @include clearList;

  display: flex;
  margin-left: 20px;

  &Item a {
    padding: 16px;
  }
}